<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <ListadoGenerico Listado="Peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula"
                                EliminarPelicula="EliminarPelicula"></PeliculaIndividual>
        </HayRegistros>
    </ListadoGenerico>
</div>

