

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> @((MarkupString)Pelicula.Titulo) </h5>
        <p class="card-text">

            Lanzamiento: @Pelicula.Lanzamiento.ToString("dd MMM yyyy")

        </p>
        @if (MostrarBotones)
        {
            <button class="btn btn-danger" @onclick="@(() => EliminarPelicula.InvokeAsync(Pelicula))"> Borrar</button>
        }
    </div>
</div>



@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; }

    [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }

}
