<div>
    <p>Titulo: @((MarkupString)Pelicula.Titulo)</p>
    <p>Fecha Lanzamiento: <b>@Pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
    @if (MostrarBotones)
    {
        <div>
            <button @onclick="@(()=> EliminarPelicula.InvokeAsync(Pelicula))"> BORRAR</button>
        </div>
    }
</div>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; }

    [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }

}
