@page "/generos/crear"

<h3>Crear Genero</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero"></FormularioGenero>

@code {

    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando método crear");
        Console.WriteLine($"Nombre del género: { Genero.Nombre }");
    }
}