@page "/"
@inject IRepositorio repositorio; 
<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ListadoPelis">
    </ListadoPeliculas>
</div>

<button class="btn btn-primary" @onclick="AgregarPelicula">Agregar Pelicula</button>

@code {
    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>() {
                                       { "placeholder", "pleisjolder!" },
                                       { "disabled", "true" }
                                  };
    private List<Pelicula> ListadoPelis;

    protected override void OnInitialized()
    {
        ListadoPelis = repositorio.ObtenerPeliculas();
    }

    void AgregarPelicula()
    {
        ListadoPelis.Add(new Pelicula() { Titulo="Nueva Pelicula papu!", Lanzamiento = DateTime.Today });
    }
} 