@page "/"
@page "/index"
@inject IRepositorio repositorio;

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ListadoPelis">
    </ListadoPeliculas>
</div>

@code {
    private List<Pelicula> ListadoPelis;

    protected override void OnInitialized()
    {
        ListadoPelis = repositorio.ObtenerPeliculas();
    }
} 